@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Bruno Ace SC", sans-serif;
}

@mixin tablet {
  @media screen and (max-width: 1250px) {
    @content;
  }
}

@mixin iphone {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 600px) {
    @content;
  }
}

$containerWidth: 1200px;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: repeating-radial-gradient(
    circle farthest-corner at center center,
    rgba(170, 185, 197, 1) 0%,
    rgba(28, 169, 206, 1) 14%,
    rgba(95, 130, 200, 1) 31%,
    rgba(77, 77, 168, 1) 54%,
    rgba(31, 33, 71, 1) 80%,
    rgba(30, 36, 71, 1) 100%
  );
  border-radius: 4px;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #0299ff;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
  flex: none;
}

input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  background: #111319;

  &.welcome {
    .main_welcome {
      transition: opacity 1s;
      opacity: 1;
      animation: preloading 3s linear 0s infinite;
    }
  }

  &.bg {
    .main_bg {
      transition: opacity 1s;
      opacity: 1;
    }
  }

  &.overlay {
    .vignette {
      transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-delay: 0.5s;
      background: radial-gradient(
        ellipse closest-corner at 50% 50%,
        rgba(0, 0, 0, 0) 36.3%,
        #08090c 71.7%
      );
      opacity: 1;
      @include phone {
        transition: 0s;
        transition-delay: 0s;
        background-image: radial-gradient(circle closest-corner at center 195px, rgba(0,0,0,0) 0%, rgba(8,9,12,1) 100%);
      }
    }
  }

  &.title {
    .main_content {
      transition: opacity 1s;
      opacity: 1;
      transition-delay: 0.8s;
    }

    .header,
    .advantages,
    .pages {
      transition: all 1s;
      opacity: 1;
      transition-delay: 1.8s;
      transform: translateY(0%);
    }
  }
}

section {
  height: 100vh;
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;

  @include tablet {
    padding: 0 20px;
  }
}

@keyframes preloading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
