@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Bruno Ace SC", sans-serif;
}

@mixin tablet {
  @media screen and (max-width: 1250px) {
    @content;
  }
}

@mixin iphone {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin vignettePhone {
  transition: all 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0s;
  background: radial-gradient(
    circle closest-corner at center 316px,
    rgba(0, 0, 0, 0) 0%,
    rgba(8, 9, 12, 1) 100%
  );
  opacity: 1;
}

$containerWidth: 1200px;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: repeating-radial-gradient(
    circle farthest-corner at center center,
    rgba(170, 185, 197, 1) 0%,
    rgba(28, 169, 206, 1) 14%,
    rgba(95, 130, 200, 1) 31%,
    rgba(77, 77, 168, 1) 54%,
    rgba(31, 33, 71, 1) 80%,
    rgba(30, 36, 71, 1) 100%
  );
  border-radius: 4px;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #0299ff;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
  flex: none;
}

input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  background: #111319;

  &.welcome {
    .main_welcome {
      transition: opacity 1s;
      opacity: 1;
      animation: preloading 3s linear 0s infinite;
    }
  }

  &.bg {
    .main_bg {
      transition: opacity 1s;
      opacity: 1;
    }

    .main {
      .vignette {
        @include iphone {
          @include vignettePhone;
        }
        @include iphone {
          @include vignettePhone;
        }
        @media screen and (max-width: 735px) {
          background: radial-gradient(
            circle closest-corner at center 50%,
            rgba(0, 0, 0, 0) 45%,
            #08090c 100%
          );
        }
        @media screen and (max-width: 651px) {
          background: radial-gradient(
            circle farthest-corner at center 0,
            rgba(255, 0, 0, 0) 66%,
            rgb(11 11 20 / 74%) 80%,
            #0c0b13 100%
          );
        }
        @include phone {
          background: radial-gradient(
            circle farthest-corner at center 0,
            rgb(255 0 239 / 0%) 50%,
            rgb(9 9 17) 68%,
            #090910 100%
          );
        }
      }
    }
  }

  &.overlay {
    .main {
      .vignette {
        transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-delay: 0.5s;
        background: radial-gradient(
          ellipse closest-corner at 50% 50%,
          rgba(0, 0, 0, 0) 36.3%,
          #08090c 71.7%
        );
        opacity: 1;
      }
    }
  }

  &.title {
    .main_content {
      transition: opacity 1s;
      opacity: 1;
      transition-delay: 0.8s;
    }

    .header,
    .advantages,
    .pages {
      transition: all 1s;
      opacity: 1;
      transition-delay: 1.8s;
      transform: translateY(0%);
    }
  }
}

section {
  height: 100vh;

  &:nth-child(2),
  &:nth-child(3) {
    display: none;
  }
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;

  @include tablet {
    padding: 0 20px;
  }
}

@keyframes preloading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.vignette {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
}

#cursor {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: repeating-radial-gradient(
    circle farthest-corner at center center,
    rgba(170, 185, 197, 1) 0%,
    rgba(28, 169, 206, 1) 14%,
    rgba(95, 130, 200, 1) 31%,
    rgba(77, 77, 168, 1) 54%,
    rgba(31, 33, 71, 1) 80%,
    rgba(30, 36, 71, 1) 100%
  );
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 9px 2px #0c6bb4b4;
  opacity: 0;

  span {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 100%;
    background: rgba(12, 107, 180, 0.5);
    box-shadow: 0px 0px 9px 2px rgba(12, 107, 180, 0.7);
    user-select: none;
    pointer-events: none;
    transition: opacity 0.3s steps(6, end);

    @for $i from 1 to 100 {
      &:nth-child(#{$i}) {
        width: calc(20px - #{$i} * 3px);
        height: calc(20px - #{$i} * 3px);
        z-index: -1;
        opacity: calc(1 - (#{$i} * 0.1) - 0.1);
      }
    }
  }
}

.pages {
  position: fixed;
  z-index: 1001;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  opacity: 0;

  @include tablet {
    display: none;
  }

  span {
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background: #736ed4;
    transition: height 0.3s;

    &.active {
      height: 20px;
      border-radius: 3px;
    }
  }
}

.main {
  height: 100%;
  // .main_container
  &_container {
  }
  // .main_welcome
  &_welcome {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    img {
      width: 174px;
      height: auto;
    }
  }
  // .main_bg
  &_bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;

    @include phone {
      object-view-box: inset(-10% -10% -10% -10%);
      object-position: top -75px right 50%;
    }
  }
  // .main_content
  &_content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-end;
    }
  }
  // .main_title
  &_title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.83em;
    text-transform: uppercase;
    color: #fff;
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      position: static;
      font-size: 28px;
      height: auto;
      transform: none;
      letter-spacing: 0.6em;
    }

    @media screen and (max-width: 735px) {
      span {
        position: relative;
        top: 10px;
      }
    }

    @media screen and (max-width: 650px) {
      span {
        top: 40px;
      }
    }

    @include iphone {
      font-size: 42px;
    }

    @include phone {
      font-size: 24px;
    }

    @media screen and (orientation: landscape) {
      font-size: 38px;
      span {
        top: 30px;
      }
    }
  }
}

.header {
  align-self: baseline;
  width: 100%;
  padding: 40px 0;
  opacity: 0;
  transform: translateY(-100%);

  @include tablet {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100vw;
    height: auto;
    backdrop-filter: blur(20px);
    background: rgba(16, 17, 24, 0.8);
    padding: 10px 0;
  }

  // .header_container
  &_container {
    flex: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  // .header_logo
  &_logo {
    width: 90px;

    @include tablet {
      width: 70px;
    }
  }
  // .header_text
  &_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;

    @include phone {
      text-align: right;
      font-size: 12px;
    }
  }
}

.advantages {
  align-self: flex-end;
  width: 100%;
  padding: 30px 0;
  opacity: 0;
  transform: translateY(100%);

  @media screen and (orientation: landscape) {
    padding: 10px 0;
  }

  // .advantages_container
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include iphone {
      gap: 10px;
    }

    @include phone {
      flex-direction: column;
      gap: 20px;
    }
  }
  // .advantages_item
  &_item {
    display: flex;
    gap: 20px;
    svg {
      width: 40px;
      height: auto;
    }
    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: normal;
      color: #fff;
      max-width: 286px;

      @media screen and (orientation: landscape) {
        font-size: 12px;
      }
    }
  }
}

.map {
  background: url(../img/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  // .map_container
  &_container {
  }
  // .map_content
  &_content {
    position: relative;
    z-index: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include phone {
      padding: 0 20px;
    }
  }
  // .map_title
  &_title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;

    @include phone {
      font-size: 22px;
    }
  }
  // .map_info
  &_info {
    display: flex;
    gap: 100px;

    @include phone {
      width: 100%;
    }

    @include phone {
      flex-direction: column;
      gap: 40px;
    }
  }
  // .map_copy
  &_copy {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 30px 0;
    span {
      color: #fff;
    }
  }

  // .map_item
  &_item {
  }
  // .map_item-title
  &_item-title {
    color: #716bce;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  // .map_item-data
  &_item-data {
    display: flex;
    gap: 20px;

    span {
      max-width: 256px;
    }
  }

  .vignette {
    transition: none;
    background: radial-gradient(
      54.87% 50% at 50% 50%,
      rgba(12, 13, 17, 0) 0%,
      #08090c 100%
    );
    background-position: center;
    opacity: 1;

    @include iphone {
      background: radial-gradient(
        54.87% 50% at 50% 50%,
        rgba(12, 13, 17, 0) 0%,
        #08090c 100%
      );
      background-position: center;
    }
  }
}

.bdb {
  height: 100%;
  @include tablet {
    padding-top: 300px;
  }
  @include phone {
    padding-top: 200px;
  }
  // .bdb_container
  &_container {
    @include tablet {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
  .vignette {
    transition: none;
    background: radial-gradient(
      54.87% 50% at 50% 50%,
      rgba(12, 13, 17, 0) 0%,
      #08090c 100%
    );
    background-position: center;
    opacity: 1;

    @include tablet {
      background-image: radial-gradient(
        circle farthest-corner at center 0,
        rgba(255, 0, 0, 0) 52%,
        rgb(8 9 12) 110%,
        #08090c 100%
      );
    }

    @media screen and (max-width: 650px) {
      background-image: radial-gradient(
        circle farthest-corner at center 0,
        rgba(255, 0, 0, 0) 45%,
        rgb(8 9 12) 105%,
        #08090c 100%
      );
    }

    @include iphone {
      transition: none;
      background-image: radial-gradient(
        circle farthest-corner at center 0,
        rgba(255, 0, 0, 0) 0%,
        rgb(8 9 12 / 93%) 110%,
        #08090c 100%
      );
    }
  }
  // .bdb_title
  &_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 671px;
    margin: 0 auto;

    @include tablet {
      top: 15%;
      max-width: 584px;
      padding: 0 20px;
    }

    @media screen and (max-width: 735px) {
      top: 10%;
    }

    @media screen and (orientation: landscape) {
      max-width: 400px;
    }

    // @include iphone {
    //   top: 15%;
    //   width: 309px;
    // }

    @include phone {
      top: 7%;
      width: 309px;
    }
  }
  // .bdb_bg
  &_bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;

    @include tablet {
      object-position: top 0 right 60%;
    }

    @media screen and (max-width: 735px) {
      object-position: top -174px right 60%;
    }

    @include phone {
      object-position: top -308px right 60%;
      object-view-box: inset(-50% -50% -50% -50%);
    }
  }
  // .bdb_content
  &_content {
    position: relative;
    z-index: 4;
    top: 50%;

    @include tablet {
      top: 0;
      transform: translateY(-10%);
    }

    @include phone {
      transform: none;
      margin-bottom: 20px;
    }
  }
  // .bdb_list
  &_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    @media screen and (max-width: 970px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include phone {
      gap: 30px;
    }
  }
  // .bdb_item
  &_item {
    border-radius: 20px;
    padding: 30px;
    max-width: 350px;
    backdrop-filter: blur(20px);
    background: rgba(139, 131, 255, 0.2);
    transition: 0.3s;

    @media screen and (max-width: 970px) {
      max-width: 584px;
    }

    &.active {
      backdrop-filter: blur(20px);
      box-shadow: 0 0 120px 0 #7a1a68;
      background: rgba(139, 131, 255, 0.6);
    }

    strong {
      display: block;
      font-weight: 400;
      font-size: 28px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 20px;
    }
    span {
      display: block;
      font-weight: 400;
      font-size: 14px;
      color: #fff;
    }
  }
}

#size {
  position: absolute;
  left: 0;
  top: 100px;
  color: #fff;
  z-index: 50000;
}
